body, h1, p {
    margin: 0;
    padding: 0;
    }
    
    body {
    background-color: #eeffaa;
    }
    h1 {
    color: #ffffff;
    }
    
    h2 {
    color: #339933;
    }
    
    p {
    line-height: 2em;
    }
    
    p.hl {
    font-size: 1.25em;
    color: #ffffff;
    }
    
    header, div#main, nav, footer {
    padding: 8px;
    }
    
    header, div#content, footer {
    margin: 0 auto;
    }
    
    header {
    width: 744px;
    background-color: #339933;
    }
    
    div#content {
    background-color: #99cc33;
    width: 760px;
    overflow: hidden;
    }
    
    div#main {
    background-color: #ffffff;
    width: 584px;
    float: right;
    }
    
    nav {
    color: #339933;
    background-color: #99cc33;
    width: 144px;
    float: left;
    }
    
    a.btn {
        display: block;
        width: 160px;
        padding: 8px;
        text-align: center;
        border-top: 5px solid #DCDCDC;
        border-right: 5px solid #797979;
        border-bottom: 5px solid #4E4E4E;
        border-left: 5px solid #CECECE;
        background: #BEBEBE;
      }
    
    footer {
    width: 744px;
    color: #ffffff;
    background-color: #339933;
    }